
.dropbeat-menu {
    background: #303040;
    box-shadow: none;
    border: none;
    border-radius: 14px;
    background-size: cover;
}

.dropbeat-menu * {
    color: white;
    text-align: center;
}

.dropbeat-cover {
    background-image: none;
    background-size: cover;
    border-radius: 6px;
}

.dropbeat-title {
    font-size: 1.5em;
    font-weight: bold;
}

.dropbeat-artist {
    margin-top: 0.25em;
    font-size: 1.25em;
}

.dropbeat-pause {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
}

