
.dropbeat-menu {
    background: #303040;
    box-shadow: none;
    border: none;
    border-radius: 14px;
    background-size: cover;
}

.dropbeat-menu * {
    color: white;
    text-align: center;
}

.dropbeat-cover {
    background-image: none;
    background-size: cover;
    border-radius: 6px;
}

.dropbeat-title {
    font-size: 1.5em;
    font-weight: bold;
}

.dropbeat-artist {
    margin-top: 0.25em;
    font-size: 1.25em;
}

.dropbeat-controls-bar {
    margin-top: 0.25em;
}

.dropbeat-pause {
    margin: 0px 20px;
}

.dropbeat-control {
    border-radius: 10px;
}

.dropbeat-control:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

